.container{
    border:solid black 2px;
    background-color: coral;
    display:flex;
    flex-flow:row wrap;
    width:100%;
    height:600px;
    justify-content:space-around; 
    align-items:center;
}
.container > div{
    /* border:solid rgb(3,3,12) 2px; */
    background-color: yellow;
    width:200px;
    height:200px;
    margin:10px;
    font-size:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container > div > img {
    height:50%;
    width:50%;
}
.container > div > img:hover {
    transform:scale(1.2);
    transition:2s;
}