body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serifs;
}

a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }

  .nav1{
    font-weight: bold;
    /* background-color: black;
    margin-right: 100px; */
}

.n1{
    color: black;
}

section{
    float: center;
    background-color: yellow;
    color: #FCFFE7;
    height: 450px;
    width: 98% ;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 50px 50px;
    margin-left: 16px;
}
h1{
    margin-left: 40px;
    font-size: 50px;
}

.intro{
    font-size: large;
}

.n3{
    color: white;
}